.home-container {
  max-width: 992px;
  background-color: #fffbfc;
  margin: 0px auto;
  padding: 5px;
}

.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .banner-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;

    .stack-logo {
      width: 104px;
      height: 16px;
      border-radius: 4px;
      margin: 2px;
      padding: 4px;
      color: white;
      display: flex;

      align-items: center;
      font-size: 10px;
      background-color: black;
    }

    .stack-top {
      animation: topcover 10s infinite;
      animation-direction: alternate;
      transform-origin: top left;
      background-color: #62bbc1;
    }

    @keyframes topcover {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-4deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    .banner-heading {
      margin-top: 10px;
    }

    .banner-slogan {
      margin-top: 16px;
      font-size: 24px;
      text-align: center;
    }
  }
}

.social-links {
  margin: 32px auto;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  height: 60px;

  .social-button {
    border-width: 0px;
    color: #ec058c;
    background-color: #fffbfc;
  }
}

.key-projects {
  margin: 50px auto;
}

.work-experience {
  margin-top: 20px;
}

@media (max-width: 679px) {
  .banner-container {
    width: 100%;

    .banner-main {
      height: 200px;

      .stack-logo {
        width: 52px;
        height: 8px;
        border-radius: 2px;
        margin: 1px;
        padding: 2px;
        font-size: 5px;
        background-color: black;
      }

      .stack-top {
        background-color: #62bbc1;
      }

      .banner-slogan {
        font-size: 14px;
      }
    }
  }
  .social-links {
    margin: 10px;
  }

  .work-experience {
    margin-top: 20px;
  }
}
